.headerWrapper {
  background-color: #f0f0f0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #f0f0f0;
}

.logoContainer {
  flex: 0 0 auto; /* Allow logo to shrink if needed */
  min-width: 120px;
}

.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin-right: 1rem;
}
